@import "tailwindcss";

/* BODY */

body {

  background: #020817;

  overflow-x: hidden;
}

/* DATE PICKER */

.react-datepicker-popper {

  z-index: 999999 !important;
}

.react-datepicker {

  border-radius: 20px !important;

  overflow: hidden !important;

  border: none !important;

  background: #ffffff !important;

  box-shadow:
    0 20px 40px rgba(0,0,0,0.35) !important;
}

.react-datepicker__header {

  background: #ffffff !important;

  border-bottom: 1px solid #e5e7eb !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-name,
.react-datepicker__day {

  color: black !important;
}

.react-datepicker__day--selected {

  background: #22c55e !important;

  color: black !important;

  border-radius: 8px !important;
}

/* DARK MODE */

.dark .react-datepicker {

  background: #0F172A !important;
}

.dark .react-datepicker__header {

  background: #111827 !important;

  border-bottom:
    1px solid rgba(255,255,255,0.1) !important;
}

.dark .react-datepicker__current-month,
.dark .react-datepicker-time__header,
.dark .react-datepicker__day-name,
.dark .react-datepicker__day {

  color: white !important;
}

.dark .react-datepicker__day:hover {

  background:
    rgba(255,255,255,0.1) !important;
}

.dark .react-datepicker__day--selected {

  background: #22c55e !important;

  color: black !important;
}

/* SELECT */

select {

  appearance: none;

  -webkit-appearance: none;

  -moz-appearance: none;
}

select option {

  color: black;
}
/* SELECT DROPDOWN OPTIONS */

select option {

  background-color: white !important;

  color: black !important;
}
/* DATE PICKER FLOAT FIX */

.react-datepicker-popper-custom {

  z-index: 999999 !important;
}

#root-portal {

  position: fixed;

  z-index: 999999;
}